.Radio{
    height: auto;
    margin-top: 11vh;
    padding-top: 5vh;
    width: 100vw;
    background-image: linear-gradient(#95562E, #DB4B4Ba8, #15F6C0a8  ) ;
    display: flex;
    justify-content: center;
    flex-direction: column;   
}
.radio_welcome{
    margin: 5vh;
    background-color: #242424;
    height: auto;
    width: 60vw;
    border-radius: 20px;
    box-shadow: 11px 13px 10px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    align-self: center;
    color: #95562E;
    font-weight: 500;
    font-size: 20pt;
    padding: 5vh;
    padding-top: 7vh ;
}
.radio_welcome p{
    padding: 1.5vw;
}
.radio_welcome h1{
    color: #4FA673;
    font-size: 60pt;
    font-weight: 700;
    text-align: left;
}
.radio_body_main{
    background-image: linear-gradient( #9f4a38, #6f5d53, #209276);
    height: auto;
    width: 80vw;
    border-radius: 20px;
    box-shadow: 11px 13px 10px 5px rgba(0, 0, 0, 0.25);
   align-self: center;
   color: white;
   margin-bottom: 5rem;
}
.radio_body_main h1{
    color: #4FA673;
    font-size: 60pt;
    font-weight: 700;
    padding: 2rem;

    
}
.radio_body_main h2{
    color: #DBBA4B;
   font-size: 40pt;  
   font-weight: 700;
}
.radio_body_main h3{
    color: white;
   font-size: 20pt;  
   font-weight: 700;
}
.radio_mic{
    display: flex;
    align-self: center;
    height: auto;
    width: 30vw;
}

.radio_clouds{
  padding-left: 5rem;
  padding-right: 5rem;
  width: 40vw;
}
.radio_body_mid{
    display: flex;
    padding: 1rem;
    padding-top: 10rem;
}
.radio_body_mid p{
    width: 60vw;
    padding: 5rem;
    margin: 0 5rem;
    font-size: 18pt;
    line-height: 30px;
}
.radio_body_bottom{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5rem;
    margin: 0 5rem;
}
.radio_body_bottom span{
    padding: 1rem;
    text-align: center;
    margin: 0 40rem;
}
.radio_body_bottom button {
    height: 5vh;
    width: 15vh;
    background-color:#95562E ;
    border: none;
    border-radius: 20px;
    font-family: 'Raleway';
    font-size: 18pt;
    font-weight: 600;
    color: white;
    align-self: center;
    margin-top: 5vh;
    cursor: pointer;
}
.radio_body_bottom button:hover{
  color:#95562E ;
  background-color: white;
  transition: 1s;

}
.radio_body_bottom a {
    width: 15vh;
    align-self: center;
}
.kkob_banner{
    width: 20vw;
    align-self: center;
    border-radius: 20px;
}