.newBlog{
    height: auto;
    background-color: #242424;
    margin-top: 15vh;
    padding-top: 15vh;
    color: white;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.newBlog form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}