
.carousel{
    margin-bottom: 10vh;
    }
    .gallery_photo{
        height: 40rem;
        width: auto;
        padding: 50px;
        z-index: 2;
        border-radius: 20px;
    }
 
    .card{
        height: 75vh;
        width: 75vw;
       margin-top: 10vh;
       margin-bottom:  10vh;
       display: flex;
       justify-content: center;
       background-color: #242424;
       padding-top: 50px;
    
    }
    .card_top{
        display: flex;
       justify-content: center;
    }
    .card_bottom{
        padding-top: 7vh;
        color: white;
        font-style: italic;
        font-size: 14pt;
    }