.nb_container{
    height: auto;
    width: 70vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    border-radius: 20px;
    box-shadow: 11px 13px 10px 5px rgba(0, 0, 0, 0.25);
    background-color: #24242433;
}
.nb_button{
    height: 5vh;
    width: 15vh;
    background-color: #85d4a9 ;
    border: none;
    border-radius: 20px;
    font-family: 'Raleway';
    font-size: 18pt;
    font-weight: 600;
    color: white;
    align-self: center;
    margin-top: 5vh;
    cursor: pointer;
}
.nb_button:hover{
    background-color: #ffffff;
    color: #85d4a9;
    transition: 1s;
}
@media (max-width: 650px){
    .ntw{
         font-size: 10pt;
    }
    .nb_container{
        width: 90vw;
    }
    .ntw h3{
        font-size: 18pt;
        padding: 1rem;
    }
    .c_icon{
        height: 8vh;
        width: auto;
    }
    .c_image{
        height: 30vh;
        width: 80vw;
        border-radius: 20px;
        filter: drop-shadow(4px 6px 4px rgba(0, 0, 0, 0.4));
        object-fit: cover;
    }
    .nb_button{
        font-size: 11pt;
    }
    .nb_button:hover{
        font-size: 11pt;
    }


}