.h_carousel{
    height: auto;
    background-color: #242424;
}
.home_gallery_card{
    margin-top: 10rem;
    display: flex;
}
.home_photo_gallery_container{
    height: 35rem;
    width: auto;
    
}
.home_gallery_photo{
    height: 31rem;
    width: 40rem;
    padding: 1rem;
    object-fit: cover;
}
.slick-list img{
    box-shadow: 2px 20px 6px rgba(247, 243, 243, 0.1);
    border-radius: 200px;

}

.slick-list img:hover{
position: relative;
top: -10px;

  }