.Blog{
    height: auto;
    margin-top: 11vh;
    padding-top: 5vh;
    width: 100vw;
    background-image: linear-gradient(#DBBA4BCF 40%, #4BA7DBCF , #DB4BD5CF) ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}
.blog_welcome{
    margin: 5vh;
    background-color: #242424;
    height: auto;
    width: 65vw;
    border-radius: 20px;
    box-shadow: 11px 13px 10px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    align-self: center;
    color:  #DBBA4B;
    font-weight: 500;
    font-size: 18pt;
    padding: 5vh;
}
.blog_welcome h1{
    color: #4FA673;
    font-size: 60pt;
    font-weight: 700;

}
.blog_welcome p{
    padding: 1.5vw;
}
.big_blog_card{
    background-color: #24242433;
    height: auto;
    width: 70vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    border-radius: 20px;
    box-shadow: 11px 13px 10px 5px rgba(0, 0, 0, 0.25);
    align-self: center;
}
.big_blog_card h1{
    font-size: 36pt;
    font-weight: 700;
    color: white;
    padding: 2rem;
}
.big_blog_photo{
    height: 45vh;
    width: 55vw;
    border-radius: 20px;
    filter: drop-shadow(4px 6px 4px rgba(0, 0, 0, 0.4));
    object-fit: cover;
}
.big_blog_card h3{
    font-size: 30pt;
    font-weight: 700;
    color: white;
    padding: 2rem;
}
.big_blog_card p{
    font-size: 18pt;
    font-weight: 500;
    color: white;
    padding: 4rem;
    margin: 0 5rem;
}

.big_blog_card button{
    height: 5vh;
    width: 15vh;
    background-color: #4FA673 ;
    border: none;
    border-radius: 20px;
    font-family: 'Raleway';
    font-size: 18pt;
    font-weight: 600;
    color: white;
    align-self: center;
    margin-top: 1rem;
    margin-bottom: 5vh;
    cursor: pointer;
 
}
.big_blog_card button:hover{
    background-color: #ffffff;
    color: #4FA673;
    transition: 1s;
}




.small_blog_card{
  background-color: #24242433;
    height: auto;
    width: 50vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    border-radius: 20px;
    box-shadow: 11px 13px 10px 5px rgba(0, 0, 0, 0.25);
    align-self: center;
    display: flex;

}
.small_blog_photo{
    height: auto;
    width: 15vw;
    border-radius: 20px;
    filter: drop-shadow(4px 6px 4px rgba(0, 0, 0, 0.4));
    object-fit: cover;
    margin: 4rem;
    
}
.small_blog_card h3{
    font-size: 26pt;
    font-weight: 700;
    color: white;
    padding: 2rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
}
.small_blog_card p{
    font-size: 14pt;
    font-weight: 500;
    color: white;
    padding: 1rem;
    line-height: 30px;
}
.small_blog_card button{
    height: 5vh;
    width: 15vh;
    background-color: #DBBA4B ;
    border: none;
    border-radius: 20px;
    font-family: 'Raleway';
    font-size: 18pt;
    font-weight: 600;
    color: white;
    align-self: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
    cursor: pointer;
}
.small_blog_card button:hover{
    background-color: #ffffff;
    color: #DBBA4B;
    transition: 1s;
}
.blog_snav_buttons {
display: flex;
justify-content: center;
flex-direction: column;
align-self: center;
margin-bottom: 6vh;
}
.blog_snav_buttons button{
    height: 5vh;
    width: 15vh;
    background-color: #242424 ;
    border: none;
    border-radius: 20px;
    font-family: 'Raleway';
    font-size: 18pt;
    font-weight: 600;
    color: white;
    margin: 2vw;
    cursor: pointer;
}
.blog_snav_buttons button:hover{
color: #242424;
background-color: white;
transition: 1s;
}