/* <path
fill="url(#LinearGradient_6)"
d="M2392.9 1557.72c-119.79 0-216.91 90.42-216.91 201.96 0 111.53 97.12 201.96 216.91 201.96 119.8 0 216.92-90.43 216.92-201.96 0-111.54-97.12-201.96-216.92-201.96z"
></path>
<path
fill="url(#LinearGradient_7)"
d="M1416.81 1557.72c-119.8 0-216.92 90.42-216.92 201.96 0 111.53 97.12 201.96 216.92 201.96 119.79 0 216.91-90.43 216.91-201.96 0-111.54-97.12-201.96-216.91-201.96z"
></path> */

#yellow_dots_s_1{
    d: path("M2698.85 31.808c-44.03 0-79.72 31.06-79.72 69.374 0 38.314 35.69 69.374 79.72 69.374 44.02 0 79.71-31.06 79.71-69.374 0-38.314-35.69-69.374-79.71-69.374zM2597.84 1935.73c-33.27 0-60.24 27.44-60.24 61.29 0 33.85 26.97 61.29 60.24 61.29s60.24-27.44 60.24-61.29c0-33.85-26.97-61.29-60.24-61.29zM609.865 1476.09c-66.541 0-120.483 54.87-120.483 122.57 0 67.69 53.942 122.57 120.483 122.57s120.483-54.88 120.483-122.57c0-67.7-53.942-122.57-120.483-122.57z");
    fill: #dbba4b;
    animation: swirl;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
   }
   #front_wheel{
    d: path("M2392.9 1557.72c-119.79 0-216.91 90.42-216.91 201.96 0 111.53 97.12 201.96 216.91 201.96 119.8 0 216.92-90.43 216.92-201.96 0-111.54-97.12-201.96-216.92-201.96z");
    -webkit-animation: spin 1.5s linear;
    animation: spin 1.5s linear ;
   }
   #back_wheel{
    d: path("M1416.81 1557.72c-119.8 0-216.92 90.42-216.92 201.96 0 111.53 97.12 201.96 216.92 201.96 119.79 0 216.91-90.43 216.91-201.96 0-111.54-97.12-201.96-216.91-201.96z");
   }
   @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }