.NewThisWeek{
    height: auto;
    margin-top: 11vh;
    padding-top: 5vh;
    width: 100vw;
    background-image: linear-gradient(#4FA673, #DBBA4BA8 , #FB492C87 ) ;
    display: flex;
    justify-content: center;
    flex-direction: column;   
}

.ntw_welcome{
    margin: 5vh;
    background-color: #242424;
    height: auto;
    width: 60vw;
    border-radius: 20px;
    box-shadow: 11px 13px 10px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    align-self: center;
    color: #4FA673;
    font-weight: 500;
    font-size: 18pt;
    padding: 5vh;
}
.ntw_welcome h1{
    color: #DBBA4B;
    font-size: 60pt;
    font-weight: 700;
}
.ntw_welcome p{
    padding: 1.5vw;
}

.ntw_body_main{
    background-image: linear-gradient(#978e46, #9a5932 );
    height: auto;
    width: 80vw;
    border-radius: 20px;
    box-shadow: 11px 13px 10px 5px rgba(0, 0, 0, 0.25);
   align-self: center;
   color: white;

}
.ntw_body_imgs{
    display: flex;
    padding: 0 2vh;

}
.ntw_body_imgs img{
    padding: 0 2vw;
    width: 45%;
}
.ntw_img_1{
    border-radius: 20px;
}
.ntw_img_2{
    border-radius: 20px;
}

.cold{
color: #3395A3;
font-style: italic;
font-weight: 700;
font-size: 96pt;
text-decoration-line: underline;
padding-top: 1vh;
}
.march{
color: #4FA673;
font-weight: 700;
font-size: 96pt;
margin-left: 2vw;
margin-right: 1vw;
padding-top: 2vh;
}
.bt_header{
    display: flex;
    padding: 2vw;
}

.ntw_body_top p{
    font-size: 18pt;
    padding: 0 8vw;
    padding-bottom: 4vh;

}

.ntw_body_bottom h1{
    color: #EDB592;
    font-weight: 700;
    font-size: 96px;
    padding: 3vh;
}
.seminar_icon{
padding: 2vw;
margin: 3vw;
border-radius: 20px;
background-color: #242424;
height: 20vh;
margin-left: 7vw;
}
.seminar_icon span{
    color: #DBBA4B;
    font-size: 16pt;
    font-weight: 700;

}
.bb_column{
    display: flex;
}
.ntw_body_bottom p{
    margin: 0vw;
    padding: 4vw;
    padding-bottom: 6vh;
    padding-top: 6vh;
    font-size: 18pt;
}


.ntw_conclusion{
    margin: 5vh;
    background-color: #242424;
    height: auto;
    width: 60vw;
    border-radius: 20px;
    box-shadow: 11px 13px 10px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    align-self: center;
    padding-bottom: 6vh;
    color: #4FA673;
    font-weight: 500;
    font-size: 18pt;
    padding: 5vh;
}

.ntw_conclusion p{
    padding: 2vw;
}
.ntw_conclusion h1{
    color: #DBBA4B;
    font-size: 60pt;
    font-weight: 700;
}