.edit_post{
    height: auto;
    background-color: #242424;
    margin-top: 15vh;
    padding-top: 15vh;
    color: white;
    font-size: 12pt;

    overflow-x: scroll;
}
.edit_post table {
table-layout: fixed;
width: 300vw;
overflow: scroll !important;
}
.edit_post td{
    display: table-cell;
    display: flex;
    flex-wrap: wrap;
    width: 50px;
    height: auto;
}
.edit_post th{
    width: 10px;
    height: auto;
}